h2.archive__subtitle {
    margin-top: 0.5rem !important;
    margin-bottom: 0.3rem !important;
  }
  
  .archive__item {
    margin-bottom: 0.4rem !important;
  }
  
  li {
    margin-bottom: 0.1rem !important;
  }
  